
# Eclipse workspace files
.classpath
.project
.settings/*

# Eclipse output area
target/*

# Local "scratch-pad" files
blog_old_static.html
nextblogpost.html

# Downloads area
src/main/webapp/static/downloads/*
