
div.leftPanel {
	float: left;
	width: 75%;
}

div.rightPanel {
	float: right;
	width: 25%;
}

div.rightPanel section.miniPanel {
	margin: 0.25em 0em 1em 0em;
	border: 2px solid #ffe8cb;
	border-radius: 5px;
	padding: 0em 0.5em;
}
div.rightPanel section.miniPanel h2 {
	margin: 0em;
	padding: 0.25em 0em 0.25em 0em;
	border-bottom: 2px solid #ffe8cb;
	background: #fff4e0;
	font-weight: bold;
	font-size: 11pt;
}
div.rightPanel section.miniPanel p {
	margin: 0.25em 0em;
}

div.svgDemoArea {
	width: 90%;
	text-align: center;
}
div.svgDemoCell {
	padding: 0em 0.5em;
	display: inline-block;
	text-align: center;
	max-width: 30%;
}

div.guideNavigationArea {
	clear: both;
}
div.guideNavigationArea div.previousArticle {
	float: left;
}
div.guideNavigationArea div.nextArticle {
	float: right;
}

section.pageContent footer {
	clear: both;
}
